/* TodoApp.css */

/* App container */
div {
  font-family: Arial, sans-serif;
  max-width: 750px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  background: rgb(94, 214, 214);
  background: linear-gradient(
    90deg,
    rgba(94, 214, 214, 0.5160189075630253) 4%,
    rgba(127, 113, 134, 0.471) 45%,
    rgba(218, 102, 104, 0.743) 68%
  );
}

h1 {
  text-align: center;
  color: #fff;
}

/* Input and button styles */
input[type="text"] {
  color: #403939;
  width: 100%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background: #fff;
}
button {
  border: 1px solid #bf1c1c;
}
.delete {
  position: relative;
  background: #bf1c1c;
}
.edit {
  position: absolute;
  background: #bf1c1c;
  margin-left: 400px;
}
.add {
  padding: 10px 20px;
  background: #bf1c1c;
  border: none;
  border-radius: 20px;
  height: 40px;
  cursor: pointer;
  margin: 10px 20px;
}
.sort {
  background: #bf1c1c;
  padding: 3px;
}
/* Todo list styles */
ul {
  list-style-type: armenian;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  color: #413e3e;
  border-bottom: 1px solid #ccc;
}
#lists {
  margin-right: 260px;
}
li input[type="checkbox"] {
  margin-right: 0px;
}

li span {
  flex: 1; /* Expand to fill available space */
}

/* Edit and delete button styles */
button:hover {
  background-color: hwb(302 80% 9%);
}

/* Search and sort styles */
select {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}
/* Add a CSS class for completed TODO items */
.completed {
  text-decoration: line-through;
  color: #1e1515; /* You can choose the color for completed items */
}

/* Responsive styles */
@media only screen and (min-width: 600px) {
  input[type="text"] {
    width: 60%;
  }
  div {
    max-width: 450px;
  }

  select {
    width: 60%;
    margin-top: 5px;
  }

  .edit {
    position: absolute;
    background: #bf1c1c;
    margin-left: 200px;
    font-size: 15px;
  }
  .delete {
    position: absolute;
    background: #bf1c1c;
    font-size: 15px;
    margin-left: 280px;
  }
  .todo-list {
    width: 350px;
  }
  #lists {
    width: 100px;
    padding-left: 20px;
  }
}

@media only screen and (max-width: 600px) {
  input[type="text"] {
    width: 60%;
  }
  div {
    max-width: 650px;
  }

  select {
    width: 60%;
    margin-top: 5px;
  }

  .edit {
    position: absolute;
    background: #bf1c1c;
    margin-left: 200px;
    font-size: 15px;
  }
  .delete {
    position: absolute;
    background: #bf1c1c;
    font-size: 15px;
    margin-left: 280px;
  }
  .todo-list {
    width: 350px;
  }
  #lists {
    width: 100px;
    padding-left: 20px;
  }
}

@media only screen and (min-width: 992px) {
  div {
    max-width: 550px;
  }
}
